.container:before,
.container:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}

.container:after,
.row:after {
  clear: both;
}

.container {
  width: 488px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

.wide, .half, .third {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.logo {
  height: 42px;
  float: left;
  margin: 20px 0;
  width: 293px;
  background: url("/img/logo_xs.png") no-repeat;
}


@media (min-width: 1260px) {
  .container {
    width: 1240px;
  }
  .wide, .half, .third { 
    float: left;
  }

  .wide {
    width: 100%;
  }

  .half {
    width: 50%;
  }

  .third {
    width: 33.33333333%;
  }

  .logo {
    width: 832px;
    background: url("/img/logo.png") no-repeat;

  }
  .nav {
    display: block !important; 
  }
  .menu-xs {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1259px) {
  .container {
    width: 975px;
  }
  .wide, .half, .third { 
    float: left;
  }

  .wide {
    width: 100%;
  }

  .half {
    width: 50%;
  }

  .third {
    width: 33.33333333%;
  }

  .logo {
    width: 293px;
    background: url("/img/logo_xs.png") no-repeat;
  }
  .nav {
    display: block !important; 
  }
  .menu-xs {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
  .wide, .half, .third { 
    float: left;
  }

  .wide {
    width: 100%;
  }

  .half {
    width: 100%;
  }

  .third {
    width: 100%;
  }

  .logo {
    width: 293px;
    background: url("/img/logo_xs.png") no-repeat;
  }
  .nav {
    display: block !important; 
  }
  .menu-xs {
    display: none;
  }
}
