/* font-family: "ProximaNovaRegular"; */
@font-face {
    font-family: "ProximaNovaRegular";
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ProximaNovaBold"; */
@font-face {
    font-family: "ProximaNovaBold";
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
    url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ProximaNovaBlack"; */
@font-face {
    font-family: "ProximaNovaBlack";
    src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot");
    src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"),
    url("../fonts/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


html {
  height: 100%;
}

body {
  font-family: "ProximaNovaRegular", Helvetica, Arial, sans-serif;
  background: url("/img/space.jpg");
  color: #ddd;
  font-size: 16px;
  line-height: 16px;
  background-color: #fff;
  padding-top: 82px;
  height: 100%;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix:before,
.clearfix:after,
.navbar:before,
.navbar:after {
  display: table;
  content: " ";
}

.clearfix:after,
.navbar:after {
  clear: both;
}


section { overflow: hidden }

.section {
  position: relative;
  margin-bottom: 75px;
  margin-top: 56px;
  padding: 5px;
  background: url("/img/bg.png");
  border: 1px solid #455d83;
  
}

.section h1 {
  line-height: 26px;
  font-size: 24px;
  font-weight: 400;
}

.section h1 a {
  color: #fff;
  text-decoration: none;
}

.section h1 a:hover { color: #9ae }


.section .message-body {
  height: 395px;
  margin-bottom: 5px;
}

.section .content { margin: 0 25px }

.wide .section .image img,
.half .section .image img,
.third .section .image img {
  width: auto;
  height: 100%;
}

.section .image:after {
  position: absolute;
  display: block;
  right: 1px;
  bottom: 1px;
  content: " ";
  width: 6px;
  height: 6px;
  border-right: 1px solid #9cb9df;
  border-bottom: 1px solid #9cb9df;
}

.section .image:before {
  position: absolute;
  display: block;
  left: 1px;
  top: 1px;
  content: " ";
  width: 6px;
  height: 6px;
  border-left: 1px solid #9cb9df;
  border-top: 1px solid #9cb9df;
}

.section .author {
  position: relative;
  height: 24px;
  margin-left: 15px;
  margin-right: -15px;
  background: #161d26;
  border: 1px solid #455d83;
  color: #fff;
  text-align: right;
}

.section .author:after {
  position: absolute;
  display: block;
  right: 1px;
  bottom: 1px;
  content: " ";
  width: 6px;
  height: 6px;
  border-right: 1px solid #9cb9df;
  border-bottom: 1px solid #9cb9df;
}

.section .author:before {
  position: absolute;
  display: block;
  left: 1px;
  top: 1px;
  content: " ";
  width: 6px;
  height: 6px;
  border-left: 1px solid #9cb9df;
  border-top: 1px solid #9cb9df;
}

nav { background: #000 }

.menu-icon {
  width: 39px;
  height: 39px;
  background: url('/img/menu-icon.png') no-repeat;
}

.nav {
  /* strange place but I'll stay it for future generations
  display: none;*/
  float: right;
  margin: 0 0 0 15px;
  padding: 0px;
  list-style: none;
}

.nav li { display: inline-block }

.nav li a {
  display: block;
  margin: 28px 20px 28px 0;
  padding: 5px 0;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.nav li a:hover:before {
  right: 0;
  color: #aaa;
}

.menu-xs {
  float: right;
  margin: 20px 0;
}


.nav li a:before {
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0;
  content: " ";
  height: 2px;
  background: #fff;
  z-index: -1;

  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.filter {
  float: right;
  height: 0;
  margin-bottom: 5px;
  margin-left: 90px;
  overflow: hidden;
}

nav .toggle {
  position: absolute;
  top: 93px;
  left: 0;
  padding: 5px;
  margin: 0;
  background: #000;
  border: 1px solid #455d83;
  border-radius: 5px;
  font-size: 14px;
}

.filter-button { position: relative }

nav .toggle:hover { background: rgb( 88,115,155) }

nav .toggle:focus { outline: none }


.filter .tag {
  position: relative;
  float: right;
  height: 30px;
  margin-left: 2px;
  padding: 0 8px;
  border: 1px solid transparent;
  color: #aef;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
}

.filter .tag { margin: 8px 0 }
.filter .tag:hover {
  border: 1px solid #22292e;
  background: rgba(170,170,170,.1);
}

.filter .tag .pseudo {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 30px;
}


.filter .tag:after {
  position: absolute;
  top: 2px;
  left: 2px;
  content: " ";
  width: 3px;
  height: 3px;
  border-top: 1px solid #5e6165;
  border-left: 1px solid #5e6165;
}

.filter .tag:before {
  position: absolute;
  bottom: 2px;
  right: 2px;
  content: " ";
  width: 3px;
  height: 3px;
  border-bottom: 1px solid #5e6165;
  border-right: 1px solid #5e6165;
}

.filter .tag .pseudo:after {
  position: absolute;
  top: 2px;
  right: 2px;
  content: " ";
  width: 3px;
  height: 3px;
  border-top: 1px solid #5e6165;
  border-right: 1px solid #5e6165;
  
}

.filter .tag .pseudo:before {
  position: absolute;
  bottom: 2px;
  left: 2px;
  content: " ";
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #5e6165;
  border-left: 1px solid #5e6165;
}

.filter .active .pseudo:after {
  position: absolute;
  top: 2px;
  right: 2px;
  content: " ";
  width: 4px;
  height: 4px;
  border-top: 1px solid #93b8cd;
  border-right: 1px solid #93b8cd;
}

.filter .active .pseudo:before {
  position: absolute;
  bottom: 2px;
  left: 2px;
  content: " ";
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #93b8cd;
  border-left: 1px solid #93b8cd;
}

.filter .active:after {
  position: absolute;
  top: 2px;
  left: 2px;
  content: " ";
  width: 4px;
  height: 4px;
  border-top: 1px solid #93b8cd;
  border-left: 1px solid #93b8cd;
}

.filter .active:before {
  position: absolute;
  bottom: 2px;
  right: 2px;
  content: " ";
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #93b8cd;
  border-right: 1px solid #93b8cd;
}

.filter .active {
  border: 1px solid #3c4d59;
  background: rgba(170,170,170,.3);
}

.dropdown { position: relative }
.dropdown-toggle:focus { outline: 0 }
.dropdown-menu {
  position: absolute;
  display: none;
  float: left;
  top: 100%;
  left: 0;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  background-color: #161d26;
  border: 1px solid #455d83;
  font-size: 16px;
  text-align: right;
  list-style: none;
  z-index: 1000;

  -webkit-background-clip: padding-box;
          background-clip: padding-box;

}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu > li > a {
  display: block;
  clear: both;
  padding: 3px 20px;
  font-weight: normal;
  line-height: 1.42857143;
  color: #ddd;
  white-space: nowrap;
  text-decoration: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #2A4764;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #2A4764;
  outline: 0;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.open > .dropdown-menu {
  display: block;
}

.open > a {
  outline: 0;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.dropdown-menu-left {
  right: auto;
  left: 0;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap;
}

.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}

.section .no-image { width: auto }


.wrap {
  min-height: 100%;
  margin-bottom: -88px; 
  padding-bottom: 100px;
}
.wrap:after {
  display: block;
  content: "";
}

footer {
  height: 88px; 
  background: #000;
}
